@charset "utf-8";

$footer-padding: 1rem;
$footer-background-color: black;
$footer-color: true;

@import "~bulma/bulma.sass";

.BackgroundImage {
  min-width: 100%;
  min-height: 960px;
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-y;
}